html {
  background-color: #000000;
  font-family: 'Fira Mono', 'VT323', monospace, Georgia, 'Times New Roman', Times, serif;
}

body {
  margin: 2rem auto;
  max-width: 800px;
  padding: 2rem;
  line-height: 1.5;
  color: #39FF14;
  background-color: #111111; 
  border-radius: 1.5rem;
  box-shadow: 0 0 80px 16px rgba(57,255,20,0.25); 
}

@media screen and (min-width: 636px) {
  body {
    max-width: 80ch;
    margin-top: 0;
    margin: 0 auto;
    padding: 3rem;
    padding-top: 1rem
  }
}

@media screen and (max-width: 635px) {
  body {
    margin: 0.7rem;
    padding: 0.7rem;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: #39FF14;
}

ul {
  padding-left: 20px;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #39FF14;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #39FF14;
  display: none;
  margin:auto;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 5px solid transparent;
}

.nav-links a:hover,
.nav-links a:focus {
  border: 5px solid #39FF14;
}

a:visited {
  color: inherit; /* or set to your preferred color */
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    /*margin-left: 5em;*/
    text-align: center;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
  display: none;
  } 

  ul {
    padding-left: 40px;
  }
}