---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">blog</a>
		<h1>About</h1>
        <p>
            I am building a personal portfolio website using Astro. 
        </p>
        <p>
            This website will include any projects that I have or am currently working on.
        </p>
	</body>
</html>
