---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";

const identity = {
  name: "tk",
  country: "UK",
  occupation: "IT Engineer",
};

const skills = [
  "HTML", "CSS", "JavaScript", "TypeScript", "React", "Astro", "SQL", "Azure", "Linux", "System Admin", "Windows", "MacOS", "Office 365", "Bash", "Git", "GitHub", "Networking", "Python", "AWS"
].sort((a, b) => a.localeCompare(b));
---
<BaseLayout pageTitle={pageTitle}>
    <p>I live in the {identity.country}, working as an {identity.occupation}.</p>
    <p>I am buiding this site using the Astro JS web framework.</p>
    <p>This website will include projects that I work on.</p>
    <hr class="divider" />
    <h2>Skills & experience</h2>
    <ul class="skills-grid">
    {skills.map((skill) => <li class="skill-item">{skill}</li>)}
    </ul>
</BaseLayout>

