---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const posts = await Astro.glob('./posts/*.md');
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
	<ul>
	{posts.map((post) => {
		const rawDate = new Date(post.frontmatter.pubDate);
		const formattedDate = rawDate.toLocaleDateString("en-GB"); // UK format
		return (
		<li>
			<a href={post.url}>
			{formattedDate}: {post.frontmatter.title}
			</a>
		</li>
		);
	})}
	</ul>
</BaseLayout>