---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
	<p>Welcome to my personal website.</p>
	<p>This will primarily be a place for projects that I am working on and anything else I feel like.</p>
	<p>See my About page for more details.</p>
</BaseLayout>