---
const { post } = Astro.props;
const rawDate = new Date(post.frontmatter.pubDate);
const formattedDate = rawDate.toLocaleDateString("en-GB");
---
<li class="blog-post-item">
  <a href={post.url} class="link">
    {post.frontmatter.title} (<small class="text-muted">{formattedDate}</small>)
  </a>
</li>