---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: #39FF14;
    background-color: #111111;
    text-decoration: none;
  }
</style>